#gitignore

*.[doa]
*~
*.root
*.so
*.pcm
*.pdf
*.pf
*.pyc
*.stat
*.swp
\#*
*GenfitCarbon.cc
Makefile
bin
data*
lib
macro
fieldmap
rootfile*
script*
runmanager/conf
runmanager/log
runmanager/stat
runmanager/tmp
runmanager/unpack
scaler
param
param/KURAMA
src/back
include/back
usr/back
tmp
tools*
